[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=cart.devtb.online:8080
Environment=mysql.devtb.online
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
